<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body id="page-top">



  <!-- Jumbotron -->
  <div class="card card-image card-block"
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg); background-size: cover; height: -webkit-fill-available;">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
        <!-- Content -->
        <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Recurly active members</h5>
        <h2 class="card-title h2 my-4 py-2">Backpopulate metafield to Store</h2>
      </div>
      <% for(var i=0;i<list.length;i++){ %>
      <p class="text-lowercase"><%=list[i]%></p>
      <% } %>
    </div>
  </div>
  <!-- Jumbotron -->


</body>

</html>